<nav-component></nav-component>
<br>
<div class="container-fluid">
			<div class="row" *ngIf="introduccion == false">
			  <div class="loader" id="loader">Loading...</div>
			</div>
	<div class="row"  *ngIf="introduccion == true">
		<div class="col-md-12" style="display: flex;justify-content: center;" *ngIf="usuario?.boleta_factura != null && pedido.length > 0">
			<button class="btn btn-danger btn-block font-weight-normal text-center" style="color: white;" (click)="mandarCaja()">FINALIZAR VENTA</button><br><br><br>
		</div>
		<div class="col-md-12">
		<br><br>
		</div>
		<div class="col-md-6">
			<h1 class="h2 mb-3 font-weight-normal text-center" style="color: red"><u>Lista de Pedido</u> <span (click)="obtenerPedido()"> - Actualizar</span></h1>
			<table class="table" *ngIf="introduccion_tabla == true">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Producto</th>
			      <th scope="col">Unidad</th>
			      <th scope="col">Cantidad</th>
			      <th scope="col">Pagar</th>
			      <th scope="col">Eliminar</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let pedi of pedido; index as i">
			      <th scope="row">{{i+1}}</th>
			      <td>{{pedi.nombre_producto}}</td>
			      <td>{{pedi.nombre_unidad}}</td>
			      <td><input type="text" value="{{pedi.cantidad}}" class="form-control" #cantidad_actualizar placeholder="Cantidad" (keyup.enter)="actualizarPedidoAlCarrito(pedi.id,cantidad_actualizar.value,pedi.precio_producto, pedi.representacion, pedi.id_producto_sucursal)"></td>
			      <td>S/. {{ pedi.precio}}</td>
			      <td><button class="btn btn-warning btn-block" (click)="eliminarPedidoCarritoCompras(pedi.id)">Eliminar</button></td>
			    </tr>
			    <tr>
			    	<td></td>
			    	<td></td>
			    	<td></td>
			    	<td class="table-danger">Total</td>
			    	<td>S/. {{ getSum() }}</td>
			    	<td></td>
			    </tr>
			  </tbody>
			</table>
			<div *ngIf="introduccion_tabla == false">
			  <div class="loader" id="loader">Loading...</div>
			</div>
		</div>
		<div class="col-md-6">
			<h1 class="h2 mb-3 font-weight-normal text-center" style="color: red"><u>Agregar Cliente</u> - <span data-toggle="modal" data-target="#manual_usuario">Manual</span> -  <span (click)="guardarSinDatosUsuarioControllers()">Sin Datos</span></h1>
			<div class="row" *ngIf="agregarr_uc_buscar == true">
				<div class="col-md-6">
				  <div class="form-group">
				    <label for="inputPassword2">DNI o RUC</label>
				    <input type="text" value="{{usuario?.codigo}}" class="form-control" #dni_ruc (keydown.enter)="actualizarPedidoUsuarioAlCarrito(dni_ruc.value)">
				  </div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
					    <label for="inputPassword2">NOMBRE O NOMBRE COMERCIAL</label>
					    <input type="text" value="{{usuario?.nombre}}" class="form-control" #comercial_otro>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
					    <label for="inputPassword2">DIRECCIÓN</label>
					    <input type="text" value="{{usuario?.direccion}}" class="form-control" #direccion_actualizar (keydown.enter)="actualizarPedidoUsuarioAlCarritoDireccion(direccion_actualizar.value,dni_ruc.value,comercial_otro.value)">
					</div>
				</div>
			</div>
			<div class="row" *ngIf="agregarr_uc_buscar == false">
				<div class="loader" id="loader">Loading...</div>
			</div>
			<h1 class="h2 mb-3 font-weight-normal text-center" style="color: red"><u>Buscar Producto</u></h1>
			<div class="row">
				<div class="col-md-6">
				  <div class="form-group">
				    <label for="inputPassword2" class="sr-only">Nombre</label>
				    <input type="text" class="form-control" #nombre_buscar placeholder="Nombre Producto" (keydown.enter)="buscarNombre(nombre_buscar.value)">
				  </div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
					    <label for="inputPassword2" class="sr-only">Código</label>
					    <input type="text" class="form-control" #codigo_buscar placeholder="Producto Código de Barras" (keydown.enter)="buscarCodigo(codigo_buscar.value)">
					</div>
				</div>
			</div>
		</div>
		</div>
</div>
<div class="modal fade" id="tabla_precios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body"  *ngIf="agregar_modal_carrito == true">
      	<div class="row" *ngIf="buscar_nombre_modal == true">
			<table class="table">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Nombre</th>
			      <th scope="col">Precio</th>
			      <th scope="col">Cantidad</th>
			      <th scope="col">Unidad</th>
			      <th scope="col">Representación</th>
			      <th scope="col">Stock</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let pedi_bus of pedido_buscado">
			      <td *ngIf="pedi_bus.estado_producto == '1' && pedi_bus.estado_producto_unidad == '1' && pedi_bus.estado_unidad == '1' && pedi_bus.estado_sucursal == '1'">{{pedi_bus.nombre}}</td>
			      <td *ngIf="pedi_bus.estado_producto == '1' && pedi_bus.estado_producto_unidad == '1' && pedi_bus.estado_unidad == '1' && pedi_bus.estado_sucursal == '1'">S/. {{pedi_bus.precio}}</td>
			      <td *ngIf="pedi_bus.estado_producto == '1' && pedi_bus.estado_producto_unidad == '1' && pedi_bus.estado_unidad == '1' && pedi_bus.estado_sucursal == '1'"><input type="text" class="form-control" #cantidad_agregar placeholder="Cantidad" (keyup.enter)="agregarPedidoAlCarrito(pedi_bus.id_producto_unidad,cantidad_agregar.value, pedi_bus.representacion, pedi_bus.precio, pedi_bus.producto_id,pedi_bus.id_producto_sucursal)"></td>
			      <td *ngIf="pedi_bus.estado_producto == '1' && pedi_bus.estado_producto_unidad == '1' && pedi_bus.estado_unidad == '1' && pedi_bus.estado_sucursal == '1'">{{pedi_bus.nombre_unidad}}</td>
			      <td *ngIf="pedi_bus.estado_producto == '1' && pedi_bus.estado_producto_unidad == '1' && pedi_bus.estado_unidad == '1' && pedi_bus.estado_sucursal == '1'">{{pedi_bus.representacion}}</td>
			      <td *ngIf="pedi_bus.estado_producto == '1' && pedi_bus.estado_producto_unidad == '1' && pedi_bus.estado_unidad == '1' && pedi_bus.estado_sucursal == '1'">{{pedi_bus.stock}}</td>
			    </tr>
			  </tbody>
			</table>
      	</div>
      	<div class="row" *ngIf="buscar_nombre_modal == false">
      		<div class="loader" id="loader">Loading...</div>
      	</div>
      </div>
      <div class="modal-body"  *ngIf="agregar_modal_carrito == false">
      		<div class="loader" id="loader">Loading...</div>
      	</div>
      <div class="modal-footer">
        <button class="btn btn-warning" (click)="cerrarModalPrecio()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="manual_usuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">
      	<div class="row" *ngIf="cargando_manual == true">
				<div class="col-md-6">
				  <div class="form-group">
				    <label for="inputPassword2">DNI o RUC</label>
				    <input type="text" class="form-control" #dni_ruc>
				  </div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
					    <label for="inputPassword2">NOMBRE O NOMBRE COMERCIAL</label>
					    <input type="text" class="form-control" #comercial>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
					    <label for="inputPassword2">DIRECCIÓN</label>
					    <input type="text" class="form-control" #direccion_actualizar>
					</div>
				</div>
				<div class="col-md-12">
					<button class="btn btn-danger btn-block" (click)="agregarDatosManualController(direccion_actualizar.value,comercial.value,dni_ruc.value)">Guardar</button>
				</div>
				
      	</div>
      	<div class="row" *ngIf="cargando_manual == false">
      		<div class="loader" id="loader">Loading...</div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>